.App {
  font-family: sans-serif;
}

.drawing {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.canvas-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 40vh;
  overflow: auto;
  flex-shrink: 0;
  padding : 3pt;
}

.canvas-line canvas {
  border: "1px solid #ccc";
}


.drawing-buttons {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5pt;
  padding-left: 5pt;
  width: 235pt;
}

.drawing-buttons button {
  margin-right: 2pt;

}

.drawing-buttons .reset_button {
  margin-left: 15pt;
  margin-right: 15pt;
}

.area {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20pt;
  padding-bottom: 20pt;
  width: 235pt;

}

.area label{
  font-weight: bold;
  margin-left: 4pt;
}

.area span{
  margin-left: 5pt;
}

.area div{
  margin-left: 2pt;
}

.area #primary-area {
  background-color: #fff;
}

.area #primary-area-colour {
  background-color: #1a85ff7e;
}

.area #secondary-area {
  background-color: #d4115896;
}

.create-modify {
  margin-left: auto;
  margin-right: auto;
  width: 250pt;
}

.createshape {
  margin-left: auto;
  margin-right: auto;
  padding-left: 11pt;
}

.createshape input {
  width: 10%;
  margin-left: 5pt;
  margin-right: 2pt
}



.lineinfos {
  padding-top: 20pt;
}

.lineinfos #saveall {
  width: 50pt;
  margin-left: auto;
  margin-right: 26pt;
  margin-top: 10pt;
}


.lineinfos #titlerow {
  width: 260pt;
  margin-bottom: 3pt;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.lineinfos #line-number {
  width: 14pt;
  margin-right: 5pt
} 

.lineinfos #line-length {
  width: 80pt;
} 

.lineinfos #line-angle {
  width: 38pt;
  margin-left: 5pt;
  margin-right: 10pt;
} 

.lineinfo {
  margin-bottom: 3pt;
  width: 260pt;
}

.lineinfo #line-id {
  display:inline-block;
  width: 14pt;
  margin-right: 5pt
}

.lineinfo #input-length {
  width: 75pt;
}

.lineinfo #input-angle {
  width: 38pt;
  margin-left: 3pt;
}

.lineinfo #between-lines {
  width: 260pt;
  margin-left: 0pt;
  margin-top: 3pt;
}

.lineinfo #input-angle-to-next {
  width: 38pt;
  margin-left: 0pt;
}

.lineinfo #input-lock-angle {
  width: auto;
  margin-left: 10pt;
  margin-right: 20pt;
}

.lineinfo #angle-to-next {
  display:inline-block;
  width: 43pt;
  margin-right: 2pt;
  margin-left: 58pt;
}

.debug-data {
  text-align: left;
  align-items: left;
}

ul.debug {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 5pt;
  padding: 0;
}

ul.debug li {
  padding: 0;
}
