.App {
  font-family: sans-serif;
}

.drawing {
  display: flex;
  flex-direction: column;
}

.drawingboard {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  margin-left: 10pt;
  margin-right: 10pt;
  flex-direction: row;
  padding-top: 5pt;
  padding-left: 5pt;
  width: 100%;
}

.area {
  display: flex;
  margin-left: 10pt;
  margin-right: 10pt;
  padding-left: 5pt;
  flex-direction: row;
  padding-top: 5pt;
  width: 100%;
}

.debug-data {
  text-align: left;
  align-items: left;
}

ul.debug {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 5pt;
  padding: 0;
}

ul.debug li {
  padding: 0;
}

.lineinfos {
  display: flex;
  flex-direction: column;
  justify-content: left;
  vertical-align: left;
  margin-bottom: 10pt;
  margin-top: 10pt;
  margin-left: 5pt;
  padding: 0;
}

.lineinfo {
  float: left;
  margin: 5pt;
  padding: 5pt;
}