.App {
  font-family: sans-serif;
}

.drawing {
  display: flex;
  flex-direction: column;
}

.drawingboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 40vh;
  overflow: auto;
  flex-shrink: 0;
}

.drawingboard canvas {
  padding : 3pt;
}


.buttons {
  display: flex;
  margin-left: 10pt;
  margin-right: 10pt;
  flex-direction: row;
  padding-top: 5pt;
  padding-left: 5pt;
  width: 100%;
}

.buttons button {
  margin-right: 2pt;
}

.createshape {
  display: flex;
  margin-top: 10pt;
  margin-left: 10pt;
  margin-right: 10pt;
  flex-direction: row;
  padding-top: 5pt;
  padding-left: 5pt;
  width: 100%;
}

.createshape input {
  width: 10%;
  margin-left: 5pt;
  margin-right: 2pt
}

.area {
  display: flex;
  margin-left: 10pt;
  margin-right: 10pt;
  padding-left: 5pt;
  flex-direction: row;
  padding-top: 5pt;
  width: 100%;
}

.debug-data {
  text-align: left;
  align-items: left;
}

ul.debug {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 5pt;
  padding: 0;
}

ul.debug li {
  padding: 0;
}

.lineinfos {
  display: flex;
  flex-direction: column;
  justify-content: left;
  vertical-align: left;
  margin-bottom: 10pt;
  margin-top: 10pt;
  margin-left: 5pt;
  padding: 0;
}

.lineinfo {
  float: left;
  margin: 5pt;
  padding: 5pt;
}

.saveall {
  margin-left: 193pt;
}